html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
/* sizes */
/* z-indexes */
/* breakpoints */
/* mixins of breakpoits */
/* mixins fonts */
/* mixins */
@font-face {
  font-family: 'Helvetica-light';
  src: url("/fonts/helvetica-light.ttf");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  line-height: 1;
  font-family: Helvetica-light;
  font-size: 62.5%;
  color: #000000;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased; }

*:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }

input, textarea {
  outline: none;
  margin: 0;
  border-radius: 0px;
  background-color: #ffffff;
  -webkit-appearance: none;
  opacity: 1; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #ffffff !important; }

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none; }

img {
  vertical-align: bottom; }

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box; }

button {
  padding: 0;
  border: 0;
  background: transparent;
  outline: none; }

span.sprite {
  display: inline-block; }

.unsel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none; }

.cf:after {
  content: '';
  display: block;
  height: 0;
  clear: both; }

.g-sides {
  position: relative; }

.g-content {
  position: relative;
  z-index: 0; }

body.is-noscroll {
  overflow: hidden; }

.sprite-close-gray-17 {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 17px 17px;
  background-image: url("/images/sprite.png"); }
  @media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .sprite-close-gray-17 {
      background-image: url("/images/sprite@2x.png"); } }

.widget {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 0; }
  .widget__part {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #2B74FA;
    overflow-x: hidden; }
    .widget__part:last-of-type {
      background-color: #2253C6; }
      .widget__part:last-of-type:before {
        content: '';
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 0 50px 50px;
        border-color: transparent transparent transparent #2B74FA; }
  .widget__currency {
    position: absolute;
    top: 50px;
    left: 50px; }
    .widget__currency-item {
      font-size: 60px;
      padding-bottom: 20px;
      text-transform: uppercase;
      color: #ffffff;
      letter-spacing: 20px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 200ms ease; }
      .widget__currency-item:first-of-type {
        opacity: 1; }
        .widget__currency-item:first-of-type:hover {
          opacity: .7; }
    .widget__currency.is-change .widget__currency-item {
      opacity: 1; }
      .widget__currency.is-change .widget__currency-item:hover {
        opacity: .7; }
  .widget__arrow {
    position: absolute;
    right: -30px;
    top: 15px;
    display: inline-block;
    padding: 10px;
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    transition: transform 200ms ease, opacity 200ms ease;
    cursor: pointer; }
  .widget__currency.is-change .widget__arrow {
    -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
  .widget__currency-item:first-of-type:hover ~ .widget__arrow {
    opacity: .7; }
  .widget__field {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    border: none;
    color: #ffffff;
    font-size: 70px;
    background-color: #2B74FA;
    text-align: center;
    width: calc(100% - 50px); }

/*# sourceMappingURL=application.css.map*/